body {
    width: 30%;
}

.res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

.btns button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

.btnDigit {
    background-color: lightgreen;
    color: brown;
}

.btnRes {
    background-color: darkgreen;
    color: white;
}

.btnOperation {
    background-color: black;
    color: red;
}